.wordlist {
	float: left;
	height: 90vh;
	overflow-y: scroll;
	padding: 0;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	display: flex;
	justify-content: space-between;
}
li > button {
	background: transparent;
	border: none;
	border-bottom: 1px solid black;
	padding: 15px 60px;
	font-size: large;
}

.wordUpload {
	color: rgb(16, 94, 184);
	padding-left: 10px;
	font-size: small;
}

.wordUpload:hover {
	color: blue;
	text-decoration: underline;
}
.wordUpload > input {
	display: none;
}
