@media screen and (min-width: 500px) {
	.wordlist {
		float: left;
		height: 90vh;
		overflow-y: scroll;
		padding: 0;
	}
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 86vh;
}

li {
	display: flex;
	justify-content: space-between;
}
li > button {
	background: transparent;
	border: none;
	border-bottom: 1px solid black;
	padding: 10px;
	font-size: large;
}
li > button + button {
	padding-right: 20px;
}

.wordUpload {
	color: rgb(16, 94, 184);
	padding-left: 10px;
	font-size: small;
}

.wordUpload:hover {
	color: blue;
	text-decoration: underline;
}
.wordUpload > input {
	display: none;
}
.download-words {
	width: 100%;
}
