.heading {
	color: white;
}

.pixelboard {
}
.pixel {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid rgba(0, 0, 0, 0.075);
}
.black {
	background-color: #07070a1a;
}
.white {
	background-color: rgb(255, 255, 255);
}
.btn {
	background-color: #0077ed;
	border-radius: 5px;
	color: white;
	border: none;
	padding: 8px 10px;
	margin: 1px;
}
.btn:hover {
	background-color: #0172e2;
}
.btn:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}
.input {
	background-color: rgba(0, 0, 0, 0.342);
	border: 1px solid rgba(128, 128, 128, 0.568);
	border-radius: 5px;
	padding: 8px 6px;
	margin: 1px;
	box-shadow: none;
}
